.dialog-registration {
  position: relative;

  .form-registration {
    label {
      display: block;
      width: 100px;
      margin-right: 15px;
      margin-bottom: 3px;
    }

    .form-item{

      input {
        margin-right: 15px;
      }

    }

    .alert{
      color: red;
      height: 35px;
    }

  }

  .message {
    color: red;
    height: 20px;
  }

  .dialog-close {
    right: 10px;
    top: 10px;
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;

    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg)
        brightness(104%) contrast(101%);
    }

    &:hover img {
      filter: invert(13%) sepia(38%) saturate(5993%) hue-rotate(320deg)
        brightness(120%) contrast(98%);
    }
  }
}
