:host {
  width: 100%;
  border-bottom: 2px solid dimgray;
  display: flex;
  padding: -20px;
  align-items: center;

  img {
    max-width: 150px;
    max-height: 150px;
    margin: 15px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: -20px;
    margin: 0 20px;

    .card-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        max-height: 35px;
        max-width: 35px;
        font-size: 15px;
      }
    }
  }
}
