:host {
  .card {
    width: 100%;
    display: flex;
    padding: 0 !important;
    align-items: center;
    margin-bottom: 10px;

    .card-body {
      display: flex;
      width: 100%;
      flex-direction: row;

      img {
        max-width: 150px;
        max-height: 150px;
        margin: 15px;

        @media screen and (max-width: 700px) {
          display: none;
        }
      }

      .card-body-inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: -20px;
        margin: 0 20px;
        padding-bottom: 20px;

        .card-title {
          color: #673ab7;
        }

        .card-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .card-price {
            font-weight: bold;
          }

          #quantity {
            text-align: center;
            max-height: 35px;
            max-width: 35px;
            font-size: 15px;
          }
        }

        .mat-button {
          width: 90px;
          border-radius: 5px;
          margin-bottom: 20px;
          max-width: 90px;
        }
      }
    }
  }
}
