<div class="about-inner">
  <h1>About</h1>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis id necessitatibus repellendus neque veritatis distinctio blanditiis? Eligendi deserunt est architecto distinctio iste quae ex animi quisquam? Itaque sit ad perspiciatis?
  Ea reiciendis eaque, minus id enim laudantium minima provident animi, tempora pariatur exercitationem! Mollitia quam dolores esse laboriosam. Veniam minima numquam dignissimos repellendus eveniet eos ipsam, rerum soluta eum recusandae.
  Repudiandae fuga sapiente recusandae. Incidunt a, sed quo exercitationem vero ullam reprehenderit praesentium est obcaecati architecto quisquam deleniti possimus ratione? Laudantium quis vero impedit dolorem nisi cumque dolor eligendi consequatur!
  Vel nihil labore atque! Magnam adipisci minus, ullam soluta quis repudiandae. Maiores maxime, eos provident omnis dolore natus molestiae mollitia nulla. Ut voluptates repudiandae debitis nobis ratione magnam cum voluptatibus.
  Recusandae perferendis dolorum illo officiis dolore libero nemo optio iste, ea laudantium delectus hic. Quidem aliquam deleniti repellendus voluptate magnam inventore facilis? Asperiores earum, reprehenderit ut animi vero eaque distinctio.
  </div>
