:host{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  .about-inner{
    width: 70%;
    text-align: justify;

    .about-tittle{
      text-align: center;
    }

    .about-paragraph{

      span{
        margin-left: 15px;
      }
    }
  }
}
