:host {
  display: flex;
  min-height: 100px;
  background-color: rgb(236, 225, 211);
  border-width: 2px 2px  2px;
  border-color: dimgray;
  border-style: solid;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;

  .left-part, .right-part{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .item{
    margin: 0 20px 0 20px;
    cursor: pointer;

    a{
      text-decoration: none;
      color: black;
    }
  }

}
