<div class="dialog-registration">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <label for="name"> Name </label>
    <input name="name" type="text" ngModel /><br />
    <label for="login"> Login </label>
    <input name="login" type="text" ngModel /><br />
    <label for="password"> Password </label>
    <input name="password" type="text" ngModel /><br />
    <label for="email"> Email </label>
    <input name="email" type="text" ngModel /><br />
    <label for="address"> Address </label>
    <input name="address" type="text" ngModel /><br />
    <button>Registrate</button>
  </form>
  <div class="message"></div>
  <div type="button" class="dialog-close" (click)="onClose()">
    <img [src]="closeIcon" alt="close-icon" />
  </div>
</div>
