<div class="dialog-login">
  <form #form="ngForm" ngClass="form-login" (ngSubmit)="onSubmit(form)" novalidate>
    <div class="form-login">
      <label for="login"> Login </label>
      <input name="login" type="text" ngModel /><br />
    </div>
    <div class="form-password"></div>
    <label for="password"> Password </label>
    <input name="password" type="text" ngModel /><br />
    <button class="form-btn" mat-button class="accept-order" color="primary" hightlightShadowDirective>Login</button>
  </form>
  <div class="message">{{ errorMessage }}</div>
  <div type="button" class="dialog-close" (click)="onClose()">
    <img [src]="closeIcon" alt="close-icon" />
  </div>
  <span class="registration-link" (click)="onRegistrate()" hightlightShadowDirective>If you don't have account you can registrate!</span>
</div>
