<div class="main">
  <div class="left-menu">
    <h2>Sorting settings</h2>
    <app-sort
      [listMenu]="countries"
      [type]="country"
      (newItemEvent)="filterElement($event, country)">
      <option class="select_item" value="ALL">ALL</option>
    </app-sort>
    <app-sort
      [listMenu]="types"
      [type]="typeProduct"
      (newItemEvent)="filterElement($event, typeProduct)">
      <option class="select_item" value="ALL">ALL</option>
    </app-sort>
    <app-sort
    [listMenu]="sortProduct"
    [type]="sort"
    (newItemEvent)="sortElement($event)">
  </app-sort>
  </div>
  <div class="card-list" *ngIf="goods.length">
    <app-card *ngFor="let item of showGoods" [product]="item"></app-card>
    <mat-paginator #paginator
      [length]="filteredGoods.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 50, 100]"
      (page)="changePage($event)">
    </mat-paginator>
  </div>
</div>
