<div class="bucket">
<table class="bucket-table">
  <tr class="table-header" ><td></td><td> name </td><td> price </td><td></td></tr>
  <tr class="table-item" *ngFor="let item of data; let i = index">
    <td>{{ i + 1 }}</td><td>{{ item.name }}</td><td>{{ item.price | currency: "€" }}</td><td><img class="dialog-image" [src]="item.filename" alt="image"></td>
  </tr>
</table>
<p class="full-price">Full price {{ getFullPrice() | currency: "€" }}</p>
<button class="accept-order" (click)="onClose()">Accept order</button>
</div>
<div type="button" class="dialog-close" (click)="onClose()">
  <img [src]="closeIcon" alt="close-icon" />
</div>
