:host{
  display: flex;
  justify-content: center;

  .bucket-table{

    margin-bottom: 20px;

    .table-header, .table-item{

      td{
        min-height: 30px;
        font-size: 18px;
        padding: 5px 25px 5px 25px;

        .dialog-image{
          width: 40px;
          height: auto;
        }

      }
    }
  }
}
